<!-- Auth - Login - EJS File -->

<% include ../partials/header.ejs %>

<!-- MAIN CONTENT FOR LOGIN PAGE -->
<main class="container">
        <% if(messages.length > 0) { %>
            <div class="alert alert-danger">
                <%= messages %>
            </div>
        <% } %>
    <div class="row">
        <div class="col-md-offset-3 col-md-5">
            <h1>Please Login</h1>
            <form action="" method="POST">
                <fieldset class="form-group">
                    <label for="username">Username:</label><input type="text" class="form-control" 
                    name="username" placeholder="Enter username" id="login" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password:</label><input type="password" class="form-control" 
                    name="password" placeholder="Enter password" id="password" required>
                    or
                    <a href="/register">Register Here </a>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </fieldset>
            </form>
        </div>
    </div>
</main>

<% include ../partials/footer.ejs %>